body
{
	background-color: blue;
}/*body*/

h1
{
	Background-color: #00FFFF;
	border-style: inset;
        border-width: 5px;
}/*h1*/

ul
{
	Background-color: #00FFFF;
	border-style: inset;
        border-width: 5px;
}/*ul*/
	

